<div id="grid" class="square">
    {% for cell in cells %}

    <!-- Empty and visible -->
    {% if cell.empty and cell.visible %}
    <button id="{{cell.name}}" class="label_empty grid-item" data-cell="{{cell.name}}">
        <label id="cell_label_{{cell.name}}" class="label_visible">
            e
        </label>
    </button>

    <!-- Visible -->
    {% elif cell.visible %}
    <button id="{{cell.name}}" class="label_visible grid-item" data-cell="{{cell.name}}">
        <label id="cell_label_{{cell.name}}" class="label_visible">
            {{cell.label}}
        </label>
    </button>

    <!-- Flagged -->
    {% elif cell.flagged %}
    <button id="{{cell.name}}" class="label_flagged grid-item" data-cell="{{cell.name}}">
        <label id="cell_label_{{cell.name}}" class="label_flagged">
            ?
        </label>
    </button>

    <!-- Invisible -->
    {% else %}
    <button id="{{cell.name}}" class="grid-item" data-cell="{{cell.name}}">
        <label id="cell_label_{{cell.name}}" class="label_hidden">
            {{cell.label}}
        </label>
    </button>

    {% endif %}
    {% endfor %}
</div>
