<!-- Title -->
<div class="row">
    <div class="col-md-12">          
        <h1 id="play">Play Minesweeper - {{ board.name }} -  {{ board.get_user }}</h1>
        <!--
        <h1 id="play">{{ board.get_user }} - Play Minesweeper - {{ board.name }}</h1>
        -->
    </div>
</div>

<!-- First line -->
<div class="row first_line">
    <!-- Flagging -->
    <div class="col-md-8 game_element">
        <form class="" action="" method="">
            <input id="flag_cell_chk" type="checkbox" name="flag_cell_chk" value="">
            <label for="flag_cell_chk">Flag cell</label><br>
        </form>        
    </div>
    <div class="col-md-1 game_element">
        <!-- Pause -->
        <a href="{% url 'pause' board.id %}">
            <button id="pause_btn" type="button">Pause</button>
        </a>              
        <!-- Back -->
        <a href="{% url 'back' board.id %}">
            <button id="return_btn" type="button" class="back_button">Back</button>
        </a>
    </div>
</div>
