
<div class="container_stats">
    <div id="state" class="">State: {{ board.get_state }}</div>
    <div id="duration" class="">Duration: </div>
    <div id="nr_mines" class="stats">Nr mines = {{ board.nr_mines }}</div>
    <div id="nr_flags" class="stats">Nr flags = 0</div>
    <div id="game_over" class="">Game over: {{ board.game_over }}</div>
    <div id="game_win" class="">Game win: {{ board.game_win }}</div>
    <div id="start" class="">Start: {{ board.start }}</div>
    <div id="end" class="">End:</div>
</div>
