
<div class="container_stats">

    <div class="row">
        <div class="col-3">
            State
        </div>
        <div id="state" class="col-9">{{ board.get_state }}</div>
    </div>


    <div class="row">
        <div class="col-3">
            Nr mines
        </div>
        <div id="nr_mines" class="col-9">{{ board.nr_mines }}</div>
    </div>

    <div class="row">
        <div class="col-3">
            Nr flags
        </div>
        <div id="nr_flags" class="col-9"></div>
    </div>

    <div class="row">
        <div class="col-3">
            Game over
        </div>
        <div id="game_over" class="col-9">{{ board.game_over }}</div>
    </div>

    <div class="row">
        <div class="col-3">
            Game win
        </div>
        <div id="game_win" class="col-9">{{ board.game_win }}</div>
    </div>

    <div class="row">
        <div class="col-3">
            Duration
        </div>
        <div id="duration" class="col-9"></div>
    </div>

    <div class="row">
        <div class="col-3">
            Start
        </div>
        <div id="start" class="col-9">{{ board.start }}</div>
    </div>

    <div class="row">
        <div class="col-3">
            End
        </div>
        <div id="end" class="col-9"></div>
    </div>
</div>
