
<div id="grid" class="square">
    {% for cell in cells %}
    
    <!-- Visible -->
    {% if cell.visible %}
    <button id="{{cell.name}}" class="label_visible grid-item" data-cell="{{cell.name}}" data-mined="{{cell.mined}}">
        <label id="cell_label_{{cell.name}}" class="label_visible">
            {{cell.label}}
        </label>
    </button>
    
    <!-- Flagged -->
    {% elif cell.flagged %}
    <button id="{{cell.name}}" class="label_flagged grid-item" data-cell="{{cell.name}}" data-mined="{{cell.mined}}">
        <label id="cell_label_{{cell.name}}" class="label_flagged">
            {{cell.label}}
        </label>
    </button>
    
    <!-- Not visible -->
    {% else %}
    <button id="{{cell.name}}" class="grid-item" data-cell="{{cell.name}}" data-mined="{{cell.mined}}">
        <label id="cell_label_{{cell.name}}" class="label_hidden">
            {{cell.label}}
        </label>
    </button>
    {% endif %}
    
    {% endfor %}
</div>
