<style media="screen">

  /* Flex */
  #container {
      display: flex;
      flex-wrap: wrap;
      /*
      flex-direction: row;
      flex-direction: column;
      flex-direction: row | row-reverse | column | column-reverse;
      */
  }
  #container > div {
      background-color: springgreen;
      font-size: 20px;
      margin: 20px;
      padding: 20px;          
      width: 250px;
  }

</style>


<!-- Flex -->
<div id="container">
  <div>
    <h2>Using flex</h2>

      <div>
        Here              
      </div>

      {% for x, value in board.get_rows %}
        <div class="grid-item">
          {% for y, value in board.get_cols %}
              {{ x }}, {{ y }}
          {% endfor %}
        </div>
      {% endfor %}

  </div>
</div>
