{% extends "minesweeper/layout.html" %}
{% block title %}
  Minesweeper
{% endblock %}
{% block body %}

<style media="screen">
  .container_idx {
    padding-top: 25px;    
    padding-left: 25px;    
    font-size: 18px;              
    line-height: 200%;
  }
</style>

<h1>All Games</h1>

<div class="container_idx">      
<!-- Titles -->
<b>
  <div class="row">
    <div class="col-1">
      Name
    </div>
    <div class="col-1">
      Size
    </div>
    <div class="col-1">
      Mines
    </div>
    <div class="col-1">
      State
    </div>
    <div class="col-2">
      Start
    </div>
    <div class="col-2">
      End
    </div>
    <div class="col-1">
      Duration
    </div>
    <div class="col-1">
      Game over
    </div>
    <div class="col-1">
      Win
    </div>
    <div class="col-1">
    </div>
  </div>
</b>


  <!-- Lines -->
  {% for board in boards %}
  <div class="row">
    <div class="col-1">
      <a href="{% url 'show' board.id %}">
        {{ board.name }}
      </a>
    </div>
    <div class="col-1">
      {{ board.get_nr_cells }}
    </div>
    <div class="col-1">
      {{ board.nr_mines }}
    </div>
    <div class="col-1">
      {{ board.get_state }}
    </div>
    <div class="col-2">
      {{ board.start }}
    </div>
    <div class="col-2">
      {{ board.end }}
    </div>
    <div class="col-1">
      {{ board.get_duration }}
    </div>
    <div class="col-1">
      {{ board.game_over }}
    </div>
    <div class="col-1">
      {{ board.game_win }}
    </div>
    <div class="col-1">
      <a href="{% url 'delete' board.id %}" onclick="return confirm('Are you sure you want to delete this?')">Del</a>
    </div>
  </div>
  {% endfor %}

  <br>
  <a href="{% url 'add_board' %}">Add game</a>
</div>
{% endblock %}
