{% extends "minesweeper/layout.html" %}
{% block title %}
  Minesweeper
{% endblock %}
{% block body %}
<h1>All Boards</h1>
<div class="container">      
  {% for board in boards %}
      <div class="row">
          <div class="col-1">
            <a href="{% url 'show' board.id %}">
              {{ board.name }}
            </a>
          </div>
          <div class="col-1">
            Rows: {{ board.rows }}
          </div>
          <div class="col-1">
            Cols: {{ board.cols }}
          </div>
          <div class="col-1">
            Mines: {{ board.mines }}
          </div>
          <div class="col-2">
            {{ board.start }}
          </div>
          <div class="col-2">
            State: {{ board.state }}
          </div>
          <div class="col-2">
            Nr cells: {{ board.get_nr_cells }}
          </div>
          <div class="col-1">
            <a href="{% url 'delete' board.id %}" onclick="return confirm('Are you sure you want to delete this?')">Del</a>
            <!--
            <a href="{% url 'delete' board.id %}">REMOVE</a>
            -->                  
          </div>
      </div>
  {% endfor %}
</div>
<a href="{% url 'add_board' %}">Add</a>
{% endblock %}
