
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Users</title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script defer src="{% static 'fontawesome/js/all.min.js' %}"></script>

    <style media="screen">
    .container_users {
        padding-left: 25px;
        padding-top: 25px;
    }
    .input_users {
        margin: 17px;
    }
    .button_users {
        margin: 13px;            
        font-size: 23px;
    }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>
