{% extends "users/layout.html" %}
{% block body %}
<div class="container_users">
    <h1>Welcome, {{ request.user.first_name }}</h1>
</div>
<div class="container_users">
    <ul>
        <li>Username: {{ request.user.username }}</li>
        <li>Email: {{ request.user.email }}</li>
    </ul>
</div>

<div class="container_users">    

    <div class="button_users">
        <a href="{% url 'games' %}">Games</a>
    </div>
    <div class="button_users">
        <a href="{% url 'users' %}">Users</a>
    </div>
    <div class="button_users">
        <a href="{% url 'logout' %}">Log out</a>      
    </div>

    <!--
    <div class="">    
        <a href="{% url 'games' %}">
            <button type="button" name="button" class="btn button_users">Games</button>
        </a>
    </div>
    <div class="">    
        <a href="{% url 'users' %}">
            <button type="button" name="button" class="btn button_users">Users</button>
        </a>
    </div>
    <div class="">    
        <a href="{% url 'logout' %}">
            <button type="button" name="button" class="btn-primary button_users">Log out</button>
        </a>
    </div>
    -->
</div>
{% endblock %}
