{% extends "users/layout.html" %}
{% block body %}
<div class="container_users">
    <h1>
        Users
    </h1>
</div>
<div class="container_users">
    <b>
        <div class="row">
            <div class="col-3">
                username
            </div>
            <div class="col-6">
                email
            </div>
            <div class="col-1">
                superuser
            </div>
        </div>
    </b>
    {% for user in users %}
    <div class="row">
        <div class="col-3">
            {{ user.username }}
        </div>
        <div class="col-6">
            {{ user.email }}
        </div>
        <div class="col-1">
            {{ user.is_superuser }}
        </div>
    </div>
    {% endfor %}
</div>

<div class="container_users">    
    <div class="button_users">
        <a href="{% url 'index' %}">Home</a>
    </div>
</div>
{% endblock %}
