{% extends "minesweeper/layout.html" %}
{% block title %}
Minesweeper
{% endblock %}
{% block nav %}
Minesweeper
{% endblock %}
{% block body %}
<!-- Title -->
<div class="container_idx">
    <div class="row">
        <div class="col-12 col-md-9">
            <h2>All Games ({{ boards.count }}) - {{ request.user|title }}</h2>
        </div>
    </div>
</div>
<!-- Lines - Small -->
<div class="container_idx small_screen">      
    {% for board in boards %}
    <div class="row">
        <div class="col-3">
            <a href="{% url 'show' board.id %}">
                {{ board.name }}
            </a>
        </div>
        <div class="col-2">
            <a href="{% url 'edit' board.id %}">
                Edit
            </a>  
        </div>
        <div class="col-2">
            <a href="{% url 'delete' board.id %}" onclick="return confirm('Are you sure you want to delete this?')">Del</a>
        </div>
        <div class="col-3">
            size: {{ board.rows }}
        </div>
        <!--
        <div class="col-2">
            mines: {{ board.nr_mines }}
        </div>
        -->
        <div class="col-2">
            {{ board.get_state }}
        </div>
    </div>
    {% endfor %}
    <div class="button_users">
        <a href="{% url 'add_board' %}">Add game</a>
    </div>
    <div class="button_users">
        <a href="{% url 'index' %}">Home</a>
    </div>
</div>
<!-- Lines - Medium -->
<div class="container_idx medium_screen">
    <!-- Titles -->
    <b>
        <div class="row">
            <div class="col-md-1">
                Name
            </div>
            <div class="col-md-1">
                Edit
            </div>
            <div class="col-md-1">
                Del
            </div>
            <!--
            <div class="col-md-1">
                User
            </div>
            -->
            <div class="col-md-1">
                Size
            </div>
            <div class="col-md-1">
                Mines
            </div>
            <div class="col-md-1">
                State
            </div>
            <div class="col-md-1">
                Gameover
            </div>
            <div class="col-md-2">
                Start
            </div>
            <div class="col-md-2">
                End
            </div>
            <div class="col-md-1">
                Duration
            </div>
            <!--
            <div class="col-md-1">
                Win
            </div>
            -->
        </div>
    </b>
    <!-- Lines -->
    {% for board in boards %}
    <div class="row">
        <div class="col-md-1">
            <a href="{% url 'show' board.id %}">
                {{ board.name }}
            </a>
        </div>
        <div class="col-md-1">
            <a href="{% url 'edit' board.id %}">
                Edit
            </a>  
        </div>
        <div class="col-md-1">
            <a href="{% url 'delete' board.id %}" onclick="return confirm('Are you sure you want to delete this?')">Del</a>
        </div>
        <!--
        <div class="col-md-1">
            {{ board.get_user }}
        </div>
        -->
        <div class="col-md-1">
            {{ board.get_nr_cells }}
        </div>
        <div class="col-md-1">
            {{ board.nr_mines }}
        </div>
        <div class="col-md-1">
            {{ board.get_state }}
        </div>
        <div class="col-md-1">
            {{ board.game_over }},
        </div>
        <div class="col-md-2">
            {{ board.start }}
        </div>
        <div class="col-md-2">
            {{ board.end }}
        </div>
        <div class="col-md-1">
            {{ board.get_duration }}
        </div>
        <!--
        <div class="col-3 col-md-1">
            {{ board.game_win }}
        </div>
        -->
    </div>
    {% endfor %}
    <div class="button_users">
        <a href="{% url 'add_board' %}">Add game</a>
    </div>
    <div class="button_users">
        <a href="{% url 'index' %}">Home</a>
    </div>
</div>
{% endblock %}
