{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'minesweeper/styles.css' %}" rel="stylesheet">
    <style media="screen">
        .container_idx {
            padding-top: 20px;    
            padding-left: 20px;    
            font-size: 17px;              
            line-height: 200%;
        }
        .container_user {
            padding: 20px;    
            font-size: 17px;
            color: blue;
        }
        .container_show {
            padding-top: 20px;    
            padding-left: 20px;    
            font-size: 17px;              
            line-height: 150%;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="sidebar col-md-1">
            {% block nav %}
            {% endblock %}
        </div>
        <div class="main col-md-11">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
